<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ryan Ly</title>
		<meta name="description" content="Ryan Ly's Personal Website" />
		<meta name="keywords" content="ryan ly, website, computer science, personal" />
		<meta name="author" content="Ryan Ly" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="bl-main" class="bl-main">
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-about">About</h2>
					</div>
					<div class="bl-content">
						<div class = "center-content">
							<h1>About Me</h1>
							<p>Welcome to my webpage.  Enjoy your stay.  Contact me if you have any questions.</p>
							<p>I'm Ryan and I'm a 3rd year student studying Computer Science at the University of Waterloo.</p>
							<p>I love using and learning about modern tools and technologies, such as Node.js and Angularjs, and making cool stuff with these tools.</p>
							<p>In terms of development experience, I've work mostly with modern web frameworks such as Node.js and Django.  I believe the web is the future, and the demand for development in the browsers will continue to grow.
							<p>I'm also working on a few projects.  You can check them out in the projects section.</p>
						</div>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>
				<section id="middle">
					<div class="bl-box">
						<h2>Ryan Ly</h2>
					</div>
					<div class="bl-content">
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>

				<section id="bl-work-section">
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-works">Projects</h2>
					</div>
					<div class="bl-content">
						<div class = "center-content">
							<h1>Projects</h1><br>
					      	<h2><a class="bl-icon-projects bl-icon-projects-android"></a><a class = "links" href="https://play.google.com/store/apps/details?id=com.ryanly.sudoku">Sudoku Voices</a></h2>
						      <p>
						        An Android application coded in <del>Eclipse</del> Android Studio.  Sudoku Voices is not your ordinary Sudoku application.  It's Sudoku that can speak and understand you!  Come and give it a try on your Android Device.  For best results for the speech features, I would recommend Android Jelly Bean(4.1) and up.  Sudoku Voices is currently on the Google Play Store.  Feel free to try it out.  Please email me any suggestions that you may have!
						      </p>
						      <br>
						    <h2><a class = "links" href="http://wardtracker.ryanly.ca">WardTracker</a></h2>
							<p>
						        A web application coded in a MEAN JavaScript stack.  This application is designed for the world's most popular video game, League of Legends.  This application provides a simple interface to compare the number of wards placed in their last 10 game sessions.  This makes it easy to compare how often a player wards relative to other players.
						      </p>
					  	</div>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>

				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-blog">Blog</h2>
					</div>
					<span class="bl-icon bl-icon-close"></span>
					<div class="bl-content">
						<div class = "center-content">
							<h1>Blog</h1>
							<p>Nothing here! Yet.</p>
						</div>
					</div>
				</section>

				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-contact">Contact</h2>
					</div>
					<div class="bl-content">
						<div class = "center-content">
							<h1>Contact Me</h1>
					        <p>I would love to meet and talk over a cup of coffee.  Don't hesitate to contact me!</p>
					        <p>Find me on these networks, or email me! ...Or leave a message.</p>
					        <a class="bl-icon-social-media bl-icon-social-media-git" href = "https://github.com/RyanLy" title="Check out my Github!"></a>
					        <a class="bl-icon-social-media bl-icon-social-media-linkedin" href = "https:\\ca.linkedin.com/in/ryanly1/" title="Add me on LinkedIn!"> </a>
					        <a class="bl-icon-social-media bl-icon-social-media-mail"href="mailto:ryan@ryanly.ca?Subject=Hey Ryan&Body=" title="Email Me!" ></a>
					        <a class="bl-icon-social-media bl-icon-social-media-facebook"href = "https://www.facebook.com/RyanLyyy" title="Add me on Facebook!"> </a>
					        <p>Leave me a message!</p>
					        <form id = "message-form" action= "/message" method="post">
						        <input id = "name-message" class = "info-box" type = "text" name = "name" placeholder="Name" autocomplete="off" required> <br>
						        <input id = "email-message" class = "info-box" type = "text" name = "email" placeholder="Email(optional)" autocomplete="off"> <br>
						        <textarea id="text-message" rows="4" cols="50" name = "message" placeholder="Message" autocomplete="off" required></textarea>
								<br>
						        <input id="submit-button" type="submit" value="Send Message">
					        </form>
					    </div>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>

				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-resume">Resume</h2>
					</div>
					<span class="bl-icon bl-icon-close"></span>
					<div class="bl-content">
						<div class = "center-content">
							<h1>Resume</h1>
						      <iframe id="pdf-viewer" src="http://docs.google.com/viewer?url=ryanly.ca%2Fresume.pdf&embedded=true" style="border: none;"></iframe>
						</div>
					</div>
				</section>

			</div>
		</div>
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/boxlayout.js"></script>
		<script>
			$(function() {
				Boxlayout.init();
			});
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-54934000-1', 'auto');
		  ga('send', 'pageview');

		</script>

		<script>
		function formSubmit(submitEvent) {
			submitEvent.preventDefault();
			name = $('#name-message').val();
			email = $('#email-message').val();
			message = $('#text-message').val();
			console.log(name);
			$.ajax({
            	type: "POST",
               	url: '/message?name=' + name + "&email=" + email+"&message=" + message,
               	success: function( data ){
               		alert(data);
               	},
                error: function(err){
                	alert("Error, Please try again.");
               }
             });
		}
		function test(submitEvent) {
			alert("GOTO Projects");
		}
		document.querySelector('#message-form').onsubmit = formSubmit;
		</script>
	</body>
</html>

